<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Image Classifier</title>
</head>
<body>
    <header>
        <h1>Image Classifier</h1>
    </header>
    
    <main>
        <form id="upload-form" onsubmit="event.preventDefault(); handleFileUpload();">
            <section id="upload-section">
                <h2>Upload Image</h2>
                <input type="file" id="image-input" accept="image/*">
                <button id="classify" type="button">Classify</button>
            </section>

            <img id="uploaded-image" alt="Uploaded Image">
        
        </form>
        <section id="result-section">
            <h2>Classification Result</h2>
            <div id="result"></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Image Classifier</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
